body {
  background-color: rgb(77, 144, 245); 
  font-family: Arial, Helvetica, sans-serif;
}

#nav { 
  background-color:hsl(180, 96%, 46%); 
  border-radius: 5px 5px 5px 5px;
}
.top {
  border-radius: 30px 30px 30px 30px;
  border-width: 200em;
  color:black;

}
h1, h3 {
  font-family: 'Montserrat Subrayada', sans-serif;
  padding-top: 10px;
  padding-left: 10px;
}

li, h4, h5, p, button, a, input {
  font-family: 'Lora', serif;
}

#jumbo {
  background-color: #4D90F5;
}


#searchBar {
  background-color:hsl(180, 96%, 46%); 
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 10px;
  margin-top: -20px;
  justify-content: center;
}

#cards {
  background-color:hsl(180, 96%, 46%); 
  border-radius: 2px 2px 2px 2px;
}

button {
  padding: auto;
  margin: 10px;
  background-color:hsl(180, 96%, 46%); 
  border-style: inset;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
